<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="/static/assets/index.css" rel="stylesheet">
</head>
<body>
    <div class="add-file">+</div>
    <input type="file" name="file" id="file-input">
    <div>
        <div class="line">
            <div id="filename">filename</div>
            <div>
                <progress id="progressvens" value= '0'  max= '100' ></progress>  
            </div>
        </div>
        <div class="line">
            <div>filename2</div>
            <div>
                <progress value= '1'  max= '100' ></progress>  
            </div>
        </div>
    </div>
    <script src="/static/assets/jq-3.7.0.min.js"></script>
    <script src="/static/assets/index.js"></script>
</body>
</html>